*
{
	padding: 0;
	margin: 0;
}

canvas
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #000;
    border-top: none;
}